<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>WMSU | Online Canteen</title>
      
		<!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'images/n_logo.png' %}" /> <!-- Translate the favicon path -->

        <!-- Include CSS files -->
        <link rel="stylesheet" href="{% static 'assets/css/backend-plugin.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/backend.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/vendor/remixicon/fonts/remixicon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/login_style.css' %}">
		
		<!-- <script src="<?= PATH_JPLUGINS.'jquery-3.5.1.js'?>"></script>  -->
        <body class="  ">
	
            <!-- loader Start -->
            <!-- <div id="loading">
                <div id="loading-center"></div>
            </div> -->
            <!-- loader END -->
            
            <!-- Wrapper Start -->
            <div class="wrapper">
            
                <!-- [INCLUDE - SIDEBAR MENU] -->

                <div class="iq-sidebar  sidebar-default ">
                    <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
                        <a href="page_customer_foodslist.php" class="header-logo">
                            <img src="{% static "site_assets/img/n_logo.png" %}" class="img-fluid rounded-normal light-logo" alt="logo"><h5 class="logo-title light-logo m-1">Dashboard</h5>
                        </a>
                        <div class="iq-menu-bt-sidebar ml-0">
                            <i class="las la-bars wrapper-menu"></i>
                        </div>
                    </div>
                  
                    <div class="data-scrollbar" data-scroll="1">
                            <nav class="iq-sidebar-menu">
                                <ul id="iq-sidebar-toggle" class="iq-menu">
                            
                                  
                            
                                    <li class=" ">
                                        <a href="#transaction" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16"> 
                                                <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/> 
                                            </svg>
                                            
                                            <span class="ml-4">Foods</span>
                                            
                                            <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                            </svg>
                                        </a>
                                        <ul id="transaction" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                            <li class="<?php if($self == 'page_customer_foodslist' || $self == 'page_customer_cart'){echo 'active';}else{echo '';}?>">
                                                <a href="page_customer_foodslist.php">
                                                    <i class="las la-minus"></i><span>Food's List</span>
                                                </a>
                                            </li>
                                            <li class="<?php if($self == 'page_customer_trackorder' ){echo 'active';}else{echo '';}?>">
                                                <a href="page_customer_trackorder.php?msg=no&trackno=0">
                                                    <i class="las la-minus"></i><span>Order Track</span>
                                                </a>
                                            </li>
                                            <li class="<?php if($self == 'page_customer_complete_order' ){echo 'active';}else{echo '';}?>">
                                                <a href="page_customer_complete_order.php?msg=no&trackno=0">
                                                    <i class="las la-minus"></i><span>Order Completed</span>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                    </li>

                                    <li class=" ">
                                        <a href="#transaction" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16"> 
                                                <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/> 
                                            </svg>
                                            
                                            <span class="ml-4">Order Details</span>
                                            
                                            <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                            </svg>
                                        </a>
                                        <ul id="transaction" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                            <li class="<?php if($self == 'page_customer_foodslist' || $self == 'page_customer_cart'){echo 'active';}else{echo '';}?>">
                                                <a href="page_customer_foodslist.php">
                                                    <i class="las la-minus"></i><span>Food's List</span>
                                                </a>
                                            </li>
                                            <li class="<?php if($self == 'page_customer_trackorder' ){echo 'active';}else{echo '';}?>">
                                                <a href="page_customer_trackorder.php?msg=no&trackno=0">
                                                    <i class="las la-minus"></i><span>Order Track</span>
                                                </a>
                                            </li>
                                            <li class="<?php if($self == 'page_customer_complete_order' ){echo 'active';}else{echo '';}?>">
                                                <a href="">
                                                    <i class="las la-minus"></i><span>Order Completed</span>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                    </li>

                                    <li class=" ">
                                        <a href="#transaction" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16"> 
                                                <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/> 
                                            </svg>
                                            
                                            <span class="ml-4">Order Complete</span>
                                            
                                            <svg class="svg-icon iq-arrow-right arrow-active" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <polyline points="10 15 15 20 20 15"></polyline><path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                            </svg>
                                        </a>
                                        <ul id="transaction" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                            <li class="<?php if($self == 'page_customer_foodslist' || $self == 'page_customer_cart'){echo 'active';}else{echo '';}?>">
                                                <a href="page_customer_foodslist.php">
                                                    <i class="las la-minus"></i><span>Food's List</span>
                                                </a>
                                            </li>
                                            <li class="<?php if($self == 'page_customer_trackorder' ){echo 'active';}else{echo '';}?>">
                                                <a href="page_customer_trackorder.php?msg=no&trackno=0">
                                                    <i class="las la-minus"></i><span>Order Track</span>
                                                </a>
                                            </li>
                                            <li class="<?php if($self == 'page_customer_complete_order' ){echo 'active';}else{echo '';}?>">
                                                <a href="page_customer_complete_order.php?msg=no&trackno=0">
                                                    <i class="las la-minus"></i><span>Order Completed</span>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                </ul>
                            </nav>	
                        <div class="p-3"></div>
                    </div>
                 
                </div> 
             
                <!-- [INCLUDE - TOPBAR MENU] -->

                <div class="iq-top-navbar">
                    <div class="iq-navbar-custom">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                                <i class="ri-menu-line wrapper-menu"></i>
                                <a href="#" class="header-logo">
                                    
                                    <img src="images/n_logo.png" class="img-fluid rounded-normal" alt="logo">
                                    <h5 class="logo-title ml-3">WMSU - Online Canteen</h5>
                
                                </a>
                            </div>
                            <div class="iq-search-bar device-search"></div>
                            <div class="d-flex align-items-center">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-label="Toggle navigation">
                                    <i class="ri-menu-3-line"></i>
                                </button>
                                
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto navbar-list align-items-center" id="cart_reload">
                                 
                                    <li class="nav-item nav-icon dropdown">
                                        <a href="/customer_orderlist" class="search-toggle dropdown-toggle" id="dropdownMenuButton">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/> </svg>
                                            <span class="mt-2 badge badge-danger" style="position: absolute;left: 15px !important;top: 2px !important;"></span>
                                        </a>
                                    </li>	
                                
                                    
                                    
                                    <li class="nav-item nav-icon dropdown caption-content">
                                          <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton4"
                                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              
                                                <img src="{% static "assets/images/user/i1.jpg" %}" class="img-fluid rounded" alt="user">  
                                             
                                                <!-- <img src="data:image/jpg;charset=utf8;base64,<?php echo base64_encode($image); ?>" class="img-fluid rounded" alt="user"> -->
                                            
                                              
                                            
                                          </a>
                                            <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <div class="card shadow-none m-0">
                                                    <div class="card-body p-0 text-center">
                                                        <div class="media-body profile-detail text-center">
                                                            
                                                            <img src="{% static "assets/images/page-img/07.jpg" %}" alt="profile-bg"
                                                                class="rounded-top img-fluid mb-4">
                                                               
                                                                    <img src="{% static "assets/images/user/i1.jpg" %}" alt="profile-img"
                                                                    class="rounded profile-img img-fluid avatar-70">
                                                            
                                                                    <img src="data:image/jpg;charset=utf8;base64,<?php echo base64_encode($image); ?>" alt="profile-img"
                                                                    class="rounded profile-img img-fluid avatar-70">
                                                         
                                                            
                                                        </div>
                                                        <div class="p-3">
                                                            <h5 class="mb-1"></h5>
                                                            <p class="mb-0"></p> <br>
                                                            <p class="mb-0 text-uppercase"><mark><small><b></b></small></mark></p>
                                                            <div class="d-flex align-items-center justify-content-center mt-3">
                                                                <a href="logout.php" class="btn border">Sign Out</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </li>
                                </ul>
                            </div>
                            </div>
                        </nav>
                    </div>
                </div>
           
                
                <div class="content-page">
                    <div class="container-fluid">
                        <div class="row">
                           
                               
                             
                                    <div class='col-md-12'> 
                                        
                                    </div>
                               
                            <div class="col-lg-3">
                                <div class="card bottom-left shadow-showcase">
                                    <div class="card-header d-flex justify-content-between" style="color: #FFF; background-color: #DC143C !important;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                                        <div class="header-title">
                                            <h4 class="card-title">Order Track #</h4>
                                        </div>
                                        <h3><i class="ri-settings-5-fill"></i></h3>
                                    </div>
                                        
                                    <div class="card-body">
                                        <b class="text-danger"><i class="ri-bookmark-fill"></i><small>Notes:</small></b>
                                        <p class="mb-2"><em><i class="ri-arrow-drop-right-fill"></i>
                                            <small>Your Track number serves as your invoice or receipt number.</small></em>
                                        </p>
                                        <div class="list-group">
                                            
                                                    <a href="" class="list-group-item list-group-item-action"active"">
                                                       <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1"></h5>
                                                            <span class="mb-1 badge badge-danger"></span>
                                                       </div>
                                                    </a>
                                                
                                              
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                              
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card bottom-left shadow-showcase">
                                            <div class="card-header d-flex justify-content-between" style="color: #FFF; background-color: #DC143C !important;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                                                <div class="header-title">
                                                    <h4 class="card-title">Delivery Process</h4>
                                                </div>
                                                <h3><i class="ri-settings-5-fill"></i></h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-header d-flex justify-content-between">
                                                    <div class="header-title">
                                                        <b class="text-danger"><i class="ri-bookmark-fill"></i><small>Notes:</small></b>
                                                        <p class="mb-2"><em><i class="ri-arrow-drop-right-fill"></i><small>Just wait for the Errand to accept your food for delivery.</small></em></p>
                                                    </div>
                                                  
                                                        <div class="alert alert-success bottom-left shadow-showcase" role="alert">
                                                            <div class="iq-alert-text">
                                                                <small>Accepted By </small>: &nbsp; &nbsp; <b><i class="ri-check-double-line"></i><?= $errand_name; ?></b>
                                                            </div>
                                                        </div>
                                                 
                                                        <div class="alert alert-warning bottom-left shadow-showcase" role="alert">
                                                            <div class="iq-alert-text"><i class="ri-loader-2-line"></i>
                                                                <small>Waiting for Errand to accept the food for delivery. . .</small>
                                                            </div>
                                                        </div>
                                                
                                                    
                                                </div>
                                                <ul class="list-inline p-0 m-0">
                                                    <li class="mb-4">
                                                        <div class="d-flex align-items-center pt-2">
                                                            <div class="ml-3 w-100">
                                                              
                                                                    <div class="media align-items-center justify-content-between">
                                                                        <p class="mb-0"><em><i class="ri-arrow-drop-right-fill"></i><small>Track your Delivery here!.</small></em></p>
                                                                        <h6><mark></mark> . . . (<span class="text-danger"> </span>)</h6>
                                                                    </div>
                                                                    <div class="iq-progress-bar mt-3 progress-bar-striped progress-bar-animated" style="height: 15px !important;">
                                                                        <span class="bg-danger progress-bar-striped iq-progress progress-1" data-percent="<?= $percentage;?>"></span>
                                                                    </div>
                                                             
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <div class="col-lg-12">
                                
                                <div class="card bottom-left shadow-showcase">
                                    <div class="card-header d-flex justify-content-between" style="color: #FFF; background-color: #DC143C !important;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                                        <div class="header-title">
                                      
                                        
                                            
                                        </div>
                                        
                                        <h3><i class="ri-settings-5-fill"></i></h3>
                                    </div>
                                    <div class="card-body">
                                        
                                        <div class="table-responsive-sm bottom-left shadow-showcase mb-2" style="border-radius: 10px !important;">
                                            <table class="table" id="reload_counter_orderlist">
                                                <thead class="text-uppercase" style="background-color: #DC143C;color: #FFF;">
                                                    <tr>
                                                        <th class="text-center" scope="col">Food Order</th>
                                                        <th class="text-center" scope="col">Vendor Responce</th>
                                                        <th class="text-center" scope="col">Foods Status</th>
                                                        <th class="text-center" scope="col">Payment Method</th>
                                                    </tr>
                                                </thead>
                                        
                                                    
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                               <h6 class="mb-0"><i class="ri-price-tag-3-fill"></i> &nbsp; </h6>
                                                               <p class="mb-0"><i class="ri-user-2-fill"></i> &nbsp; <small> - <mark>Vendor</mark></small></p>
                                                               <p class="mb-0"><i class="ri-wallet-2-fill"></i> &nbsp; <small> <mark>(&#8369;)</mark></small></p>
                                                            </td>
                                                            <td class="text-center">
                                                               
                                                                </span>
                                                            </td>
                                                            <td class="text-center">
                                                            
                                                                <span class="mt-2 badge badge-pill border border-<?= $food_stat_color;?> text-<?= $food_stat_color;?>">
                                                                 
                                                                </span>
                                                            </td>
                                                            <td class="text-center">
                                                            
                                                                    
                                                                    
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                              
                                                    <tbody>
                                                        <tr>
                                                            <td colspan='3'>
                                                               <h6 class="mb-0">No Record Found</h6>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    
                                              
                                            </table>
                                        </div>
                                        <div class="row mt-4 mb-3">
                                            <div class="offset-lg-8 col-lg-4">
                                                <div class="or-detail rounded bottom-left shadow-showcase" id="reload_counter_orderdetails">
                                                   
                                                    <div class="p-3">
                                                        <h5 class="mb-3"><i class="ri-coins-fill"></i> &nbsp; Ready your Payment</h5>
                                                        <div class="mb-2">
                                                            <h6><i class="ri-arrow-right-s-fill"></i> &nbsp; Total Order</h6>
                                                            <p><i class="ri-arrow-drop-right-line"></i> &nbsp; <b><mark></mark></b></p>
                                                        </div>
                                                        <div class="mb-2">
                                                            <h6><i class="ri-arrow-right-s-fill"></i> &nbsp; Delivery Fee </h6>
                                                            <p><i class="ri-arrow-drop-right-line"></i> &nbsp; <b><mark></mark></b></p>
                                                        </div>
                                                        <hr>
                                                        <div class="mb-2">
                                                            <h5 class="mb-3"><i class="ri-secure-payment-fill"></i> &nbsp; Payment Status</h5>
                                                            
                                                            <p class="font-weight-700 text-success">
                                                                <i class="ri-arrow-drop-right-line"></i> &nbsp; <b>
                                                         
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                        <!-- Page end  -->
                    </div>
                </div>
            </div>
            
            <!-- [INCLUDE - FOOTER] -->
       
        </body>
</html>